/* ------------------------------------------------------------------------------------------------------------------ */
/* Panel styles.
/* ------------------------------------------------------------------------------------------------------------------ */

/* (i) button that opens panel. */
.panel-button {
  position: absolute;
  left: calc(100% + 15px);
  top: 15px;
  background-color: #007bff !important;
}

/* Panel that shows at-a-glance info. */
.panel {
  position: absolute;
  left: calc(100% + 15px);
  top: 15px;
  width: 550px;
}

/* Blue strip at top of panel. */
.panel-header {
  height: 25px;
}

/* Add some space between groups (a group is a label and its value). */
.panel .group {
  margin-bottom: 8px;
}

/* Add some space to the right of a label. */
.panel label {
  margin-right: 6px;
  margin-bottom: 0;
}

/* Add some space between button groups. */
.panel .btn-group {
  margin-right: 12px;
}

/* Remove right margin for last button group. */
.panel .btn-group:last-of-type {
   margin-right: 0;
}

/* Reduce the padding for buttons in a button group. */
.panel .btn-group .btn {
  padding: 2px 6px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Branch names
/* ------------------------------------------------------------------------------------------------------------------ */
.panel .branch {
  display: grid;
  /* For long branch names, this will clamp the target branch to be at most half the available width. Otherwise, the
     source branch can use all the remaining space. */
  grid-template-columns: min-content fit-content(100%) min-content fit-content(45%);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Pipeline info
/* ------------------------------------------------------------------------------------------------------------------ */
/* Reduce the whitespace for the pipeline dropdown that shows when a pipeline bubble is clicked. */
.panel .mini-pipeline-graph-dropdown-menu {
  padding: 0;
  max-width: unset;
  min-height: 24px !important;
  width: 260px; /* Increase the width so that the job names don't get truncated. */
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Pipeline dropdown that shows each job
/* ------------------------------------------------------------------------------------------------------------------ */
.panel .mini-pipeline-graph-dropdown-menu ul {
  margin-bottom: 0;
}

.panel .mini-pipeline-graph-dropdown-menu li {
  margin-left: 0;
}

.panel .mini-pipeline-graph-dropdown-menu .success {
  display: none;
}

.panel .mini-pipeline-graph-dropdown-item {
  padding: 2px 4px 2px 8px !important;
}

.panel .mini-pipeline-graph-dropdown-menu .ci-action-icon-container.ci-action-icon-wrapper {
  width: 16px;
  height: 16px;
  top: 4px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* GitLab Bot Tables
/* ------------------------------------------------------------------------------------------------------------------ */
.panel table {
  margin: 12px 0 !important;
}

.panel table td, .panel table th {
  padding: 2px 8px !important;
  font-size: 0.9em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Compact layout
/* ------------------------------------------------------------------------------------------------------------------ */

/* Fix mis-aligned user emoji. */
.issuable-discussion.compact .user-status-emoji gl-emoji {
  vertical-align: text-bottom;
}

/* Hide the vertical line that runs through all the notes. */
.issuable-discussion.compact .main-notes-list::before, .issuable-discussion.compact .mr-widget-workflow::before {
  display: none;
}

/* Reduce the whitespace for each entry and change the separator from separate pills for each entry, to a horizontal
   line between them. */
.issuable-discussion.compact .timeline-entry {
  padding: 0;
  margin: 0 !important;
  border-width: 0 0 1px !important;
}

/* Reduce the whitespace of the note header. */
.issuable-discussion.compact .note-wrapper {
  padding: 6px;
  min-height: 0;
}

/* Make the user avatars smaller. */
.issuable-discussion.compact .avatar {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* MR widgets.
/* ------------------------------------------------------------------------------------------------------------------ */
.issuable-discussion.compact .mr-source-target {
  padding: 0 0 4px 0;
  min-height: unset;
  border-width: 0 0 1px;
  margin-bottom: 0;
}

.issuable-discussion.compact .mr-widget-workflow {
  padding: 0;
  margin-top: 0;
  border-width: 0 0 1px;
}

.issuable-discussion.compact .mr-widget-content {
  padding: 6px 0;
}

.issuable-discussion.compact .deploy-heading {
  padding: 6px;
}

.issuable-discussion.compact .deploy-heading button {
  padding: 0 6px;
}

.issuable-discussion.compact .js-mr-approvals svg {
  width: 18px;
  height: 18px;
}

.issuable-discussion.compact .mr-report .media {
  padding: 4px 0;
}

.issuable-discussion.compact .mr-report .media svg {
  width: 18px;
  height: 18px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* System notes
/* ------------------------------------------------------------------------------------------------------------------ */
.issuable-discussion.compact .system-note {
  padding: 4px 0;
}

/* Make the system note icon smaller. */
.issuable-discussion.compact .system-note .timeline-icon {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-right: 10px;
}

/* Reduce the commit list whitespace and don't let it line wrap. */
.issuable-discussion.compact .system-note ul {
  margin-bottom: 0;
  flex-shrink: 0;
}

/* Reduce the space between each commit. */
.issuable-discussion.compact .system-note li {
  line-height: unset;
}

/* Put the commit list on the same line as the system note. */
.issuable-discussion.compact .system-note .timeline-content {
  display: flex;
}

/* Don't let the system note description line wrap. */
.issuable-discussion.compact .system-note .note-header {
  flex-shrink: 0;
}

/* Put the "Compare with previous version" link on the same line as the system note. */
.issuable-discussion.compact .system-note .note-body {
  flex: 1;
}

/* Put the "Compare with previous version" link on the same line as the system note. */
.issuable-discussion.compact .system-note .note-text {
  display: flex;
  flex: 1;
}

/* If the "Compare with last version" link gets too long, uses ellipsis instead of line breaking. */
.issuable-discussion.compact .system-note p:last-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  text-align: right;
  font-size: 0.9em;
  margin-left: 6px;
  align-self: center;
}


/*.issuable-discussion.compact .timeline-entry {*/
/*  border-bottom: 1px solid #e5e5e5;*/
/*}*/

/*.timeline-entry .discussion-headline-light {*/
/*  display: inline;*/
/*}*/
/*.timeline-entry .discussion-headline-light::before {*/
/*  content: '»';*/
/*}*/
/*.timeline-entry .timeline-icon {*/
/*  align-self: center !important;*/
/*}*/

/*.timeline-entry.compact {*/
/*  padding: 8px;*/
/*  margin: 0 !important;*/
/*  border-width: 0 0 1px !important;*/
/*}*/
/*.timeline-entry.compact .note-wrapper {*/
/*  padding: 0;*/
/*  min-height: unset;*/
/*}*/
/*.timeline-entry.compact .timeline-entry-inner {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
/*.timeline-entry.compact .user-status-emoji .emoji {*/
/*  height: 15px;*/
/*  width: 15px;*/
/*}*/
/*.timeline-entry.compact.hide-discussion .timeline-discussion-body {*/
/*  display: none;*/
/*}*/
/*.timeline-entry.compact .avatar {*/
/*  width: 20px;*/
/*  height: 20px;*/
/*}*/
/*.timeline-entry.compact .note-header {*/
/*  align-items: center;*/
/*}*/
/*.timeline-entry.compact .note-header-info {*/
/*  padding-bottom: 0;*/
/*}*/
/*.timeline-entry.compact .note-header-info .system-note-message {*/
/*  display: none;*/
/*}*/
/*.timeline-entry.compact .timeline-content {*/
/*  flex: 1;*/
/*}*/
